/** World Frame **/
    .grid {
        position:fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0px;
        padding: 10px;

        background-color:#000;
    }

    table.world-table {
        position:fixed;
        width: 50%;        
        left: 10%;
        right: 10%;
        top: 5%;
        margin: auto;

        background-color:#666;
    }

    table>tbody>tr>td {
        position:relative;
        text-align: center;
        vertical-align: middle;
        border: solid 0px rgba(0,0,0,0.01);
        height:128px;
        width:128px;
        padding: 0px;

        background-color:transparent;
    }


/** Tiles **/

    .map-base {
        background-image: url('../img/map_base.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;
        opacity: 0.5;
    }

    .layer {
        transition: background-color 3s, background 3s, background-image 3s;
        -webkit-transition: background-color 3s, background 3s, background-image 3s;
    }

    .rock-color {
        background-color: rgba(100,100,100,0.5);
    }

    .sand-color {
        background-color: rgba(75,75,20,0.5);
    }

    .dirt-color {
        background-color: rgba(70,50,0,0.5);
    }

    .water-color {
        background-color: rgba(50,100,200,0.85);
    }

    .layer.rock {
        background-image: url('../img/rock.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;

        
    }

    .layer.sand {
        background-image: url('../img/sand.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;

        
    }

    .layer.dirt {
        background-image: url('../img/dirt.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;

        
    }

    .layer.water {
        background-image: url('../img/water.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;

        
    }

    .layer.weather.clouds {
        background-image: url('../img/clouds.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;

        filter: grayscale(100%) blur(5px) brightness(50%) contrast(200%);
        -webkit-filter: grayscale(90%) blur(5px) brightness(50%) contrast(200%);
        opacity: 0.5;
    }

    .layer.light.night {
        background-color: #000;
        opacity: 0.6;
    }

    .layer.light.morning {
        background-color: #fa8;
        opacity: 0.3;
    }

    .layer.light.day {
        background-color: #eef;
        opacity: 0.3;
    }

    .layer.light.evening {
        background-color: #a7a;
        opacity: 0.3;
    }

    .layer {
        position: absolute;     
        display:block;   
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 0px;
        margin: 0px;
    }

    .layer0 {
        z-index: 10;
    }

    .layer1 {
        z-index: 100;
    }

    .layer2 {
        z-index: 200;
        display:none;
    }

    .layer3 {
        z-index: 300;
        display:none;
    }

    .layer4 {
        z-index: 400;
        display:none;
    }

    .layer5 {
        z-index: 500;
        color: #fff;
        font-size: 18px;
        text-align:center;
        opacity: 1;
    }

    .layer6 {
        z-index: 600;
    }

    .layer7 {
        z-index: 700;
    }

    .layer8 {
        z-index: 800;
    }

    .layer9 {
        z-index: 900;
    }

    .layer10 {
        z-index: 1000;
    }

    .layer11 {
        z-index: 1100;
    }